* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color:#f3ebe0;
  font-size: 16px;
  padding: 25px;
  color: #454545;
  font-family:'Times New Roman', Times, serif;
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

p {
  transform: scaleX(1.25);
  letter-spacing: -1.5px;
  text-align: center;
}

img {
  image-rendering: pixelated;
  width: 100%;
}
a {
  background: none;
  color: #454545;
  width: px;
  border: 1px #454545 solid;
  padding: 0px 5px;
  margin-top: 10px;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:focus {
  outline: 2px #454545 solid;
}

.figs {
display: flex;
justify-content: center;
padding: 50px;
}

div img {
  width: 100px;
}


